/* Body */
body {
    background-color: #152B1E;
    color: whitesmoke;
    margin: 0;
    padding: 0;
    font-family: "georgia", serif;
}

/* Center headers */
header, nav {
    text-align: center;
}

/* Style headers */
h1 {
    font-family: "Copperplate Gothic", serif;
    font-weight: bold;
    font-size: 45px;
    color: whitesmoke;
    margin-bottom: 0; /* Adjust spacing between h1 and h2 */
}

h2 {
    font-family: "Copperplate Gothic", serif;
    margin-top: 10px; /* Adjust spacing between h1 and h2 */
    margin-bottom: 35px; /* Adjust spacing between h1 and h2 */
    font-weight: bold;
    color: whitesmoke;
}

/* Style navigation links */
nav a {
    margin: 0 10px; /* Adds spacing between links */
    text-decoration: none; /* Removes underline from links */
    color: #ffffff; /* Set link color */
    font-size: 18px;
}

nav a:hover, nav a:active {
    text-decoration: underline; /* underlines navigation option on hover */
}
/* Contact Form Styles */

#greenbox {
    background-color: #2A3F33;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    max-width: 600px;
}

#greenbox h4 {
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    font-size: 18px;
    margin-bottom: 10px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 95%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 16px;
}

form textarea {
    height: 150px;
}

form button[type="submit"] {
    background-color: #ffffff;
    color: #152B1E;
    font-family: "Copperplate Gothic", serif;
    border: none;
    padding: 15px 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

form button[type="submit"]:hover {
    background-color: #152B1E;
    color:#ffffff;
}
