/* Body */
body {
    background-color: #152B1E;
    color: whitesmoke;
    margin: 0;
    padding: 0;
    font-family: "Georgia", serif;
}

/* Center headers */
header, nav {
    text-align: center;
}

/* Style headers */
h1 {
    font-family: "Copperplate Gothic", serif;
    font-weight: bold;
    font-size: 45px;
    color: whitesmoke;
    margin-bottom: 0; /* Adjust spacing between h1 and h2 */
}

h2 {
    font-family: "Copperplate Gothic", serif;
    margin-top: 10px; /* Adjust spacing between h1 and h2 */
    margin-bottom: 35px; /* Adjust spacing between h1 and h2 */
    font-weight: bold;
    color: whitesmoke;
}

/* Style navigation links */
nav a {
    margin: 0 10px; /* Adds spacing between links */
    text-decoration: none; /* Removes underline from links */
    color: #ffffff; /* Set link color */
    font-size: 18px;
}

nav a:hover, nav a:active {
    text-decoration: underline; /* underlines navigation option on hover */
}

#text{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 90%;
    margin: 3%;
    padding: 3%;
    font-size: 20px;
    line-height: 30px;
}

.box{
    margin: 3%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }
  
